<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="put.medicallocator"
      android:versionCode="4"
      android:versionName="1.1.1" android:installLocation="auto">

    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="15"/>

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-feature android:name="android.hardware.telephony" android:required="false"/>

    <application android:icon="@drawable/ic_launcher"
                 android:name=".application.Application"
                 android:label="@string/app_name" android:hardwareAccelerated="true">
    	<uses-library android:name="com.google.android.maps" />

        <activity android:name=".ui.ActivityMain" android:theme="@style/Theme.MedicalLocator.ActionBarOverlay"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.default_searchable" android:value=".ui.ActivitySearchable" />
        </activity>

        <activity android:name=".ui.ActivitySearchable" android:theme="@style/Theme.MedicalLocator">
        	<intent-filter>
        	    <action android:name="android.intent.action.SEARCH" />
        	</intent-filter>
    	</activity>

    </application>
</manifest>